<form action="/SW/SearchPerson" method="post">
    <input type="number" name="id" />
    <input type="submit" value="Find Person" />
</form>

<form action="/SW/SearchPlanet" method="post">
    <input type="number" name="id" />
    <input type="submit" value="Find Planet"/>
</form>
<a href="/SW/PersonForm">Click here to search by name</a>